body,
HTML {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

td:nth-child(5),
td:nth-child(6) {
  text-align: center;
}

td {
  width: fit-content;
}

tr:hover {
  background-color: #e4e2e2;
  cursor: pointer;
}
